<!DOCTYPE html>
<html lang="english">
  <head>
    <title>簽到</title>
    <meta property="og:title" content="Page10 - exported project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    {% load static %}

    <script>
      function redirectToPage1() {
        window.location.href = 'http://127.0.0.1:8000/首頁';
      }
    </script>

    <script>
      function redirectToPage2() {
        window.location.href = 'http://127.0.0.1:8000/遊戲選擇畫面';
      }
    </script>

    <script>
      function redirectToPage3() {
        window.location.href = 'http://127.0.0.1:8000/簽到';
      }
    </script>

    <script>
      function redirectToPage4() {
        window.location.href = 'http://127.0.0.1:8000/商店';
      }
    </script>

    <script>
      function redirectToPage5() {
        window.location.href = 'http://127.0.0.1:8000/衣櫥';
      }
    </script>

    <script>
      function redirectToPage6() {
        window.location.href = 'http://127.0.0.1:8000/紀錄';
      }
    </script>

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div>
      <link href="{% static 'css/簽到.css' %}" rel="stylesheet" />

      <div class="page10-container">
        <div class="page10-frame">
          <span class="page10-text"><span>七天登入獎勵</span></span>
          <span class="page10-text02"><span>第一天</span></span>
          <span class="page10-text04"><span>第二天</span></span>
          <span class="page10-text06"><span>第三天</span></span>
          <span class="page10-text08"><span>第四天</span></span>
          <span class="page10-text10"><span>第五天</span></span>
          <span class="page10-text12"><span>第六天</span></span>
          <span class="page10-text14"><span>第七天</span></span>
          <img
            src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/c32346f9-2632-43aa-b0a2-aa111b183899?org_if_sml=18202' %}"
            alt="Rectangle174282"
            class="page10-rectangle17"
          />
          <img
            src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/c862820c-374e-4857-83ba-fbdc8d23f5ff?org_if_sml=18202' %}"
            alt="Rectangle184300"
            class="page10-rectangle18"
          />
          <img
            src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/0533555e-26be-47ce-815f-b4214493173a?org_if_sml=18462' %}"
            alt="Rectangle194303"
            class="page10-rectangle19"
          />
          <img
            src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/cc18de38-4188-4998-a0d5-3d3168f2f17b?org_if_sml=11625' %}"
            alt="Rectangle204306"
            class="page10-rectangle20"
          />
          <img
            src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/b4d151ac-1447-4450-8b77-c6b5f073df74?org_if_sml=11625' %}"
            alt="Rectangle214309"
            class="page10-rectangle21"
          />
          <img
            src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/41021a05-a28a-432d-bb43-b6a16bce63cb?org_if_sml=11625' %}"
            alt="Rectangle224312"
            class="page10-rectangle22"
          />
          <img
            src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/57655557-cea3-4cea-9900-05e5316acdd2?org_if_sml=11625' %}"
            alt="Rectangle234315"
            class="page10-rectangle23"
          />
          <img
            src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/5a21b013-0f73-45c1-80c9-89793d82f61c?org_if_sml=11294' %}"
            alt="Rectangle244317"
            class="page10-rectangle24"
          />
          <span class="page10-text16"><span>簽到</span></span>
          <img
            src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/396ce481-22bd-478b-9ed6-b6024ed22f83?org_if_sml=11432' %}"
            alt="Rectangle313277"
            class="page10-rectangle31"
          />
          <div class="page10-component">
            <div class="page10-group9">
              <img
                onclick="redirectToPage1()"
                src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/1bd06ca1-a761-4b8f-8e27-62f320c66887?org_if_sml=12259' %}"
                alt="image6I327"
                class="page10-image6"
              />
              <span class="page10-text18"><span>首頁</span></span>
            </div>
          </div>
          <div class="page10-component1">
            <div class="page10-group91">
              <img
                onclick="redirectToPage2()"
                src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/3cae213a-474d-42f5-92bf-ba662175beec?org_if_sml=13269' %}"
                alt="image6I327"
                class="page10-image61"
              />
              <span class="page10-text20"><span>遊戲</span></span>
            </div>
          </div>
          <div class="page10-component2">
            <div class="page10-group10">
              <img
                onclick="redirectToPage3()"
                src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/8bdc7eb3-d498-41a2-8424-de8b9374fd61?org_if_sml=11702' %}"
                alt="image6I327"
                class="page10-image62"
              />
              <span class="page10-text22"><span>簽到</span></span>
            </div>
          </div>
          <div class="page10-component3">
            <div class="page10-group92">
              <img
                onclick="redirectToPage4()"
                src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/277941af-9c7e-41f7-86ea-46435d019c2f?org_if_sml=12402' %}"
                alt="image6I327"
                class="page10-image63"
              />
              <span class="page10-text24"><span>商店</span></span>
            </div>
          </div>
          <div class="page10-component4">
            <div class="page10-group93">
              <img
                onclick="redirectToPage5()"
                src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/73be73ae-d29e-4da2-84c3-a3b7a67b55ea?org_if_sml=11603' %}"
                alt="image6I327"
                class="page10-image64"
              />
              <span class="page10-text26"><span>衣櫥</span></span>
            </div>
          </div>
          <div class="page10-component5">
            <div class="page10-group94">
              <img
                onclick="redirectToPage6()"
                src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/bbac010b-d14f-44af-9e81-d698008b9743?org_if_sml=11501' %}"
                alt="image6I327"
                class="page10-image65"
              />
              <span class="page10-text28"><span>紀錄</span></span>
            </div>
          </div>
          <img
            src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/e7a51b97-26c7-46c2-9ec0-3a041a80242a?org_if_sml=12654' %}"
            alt="User3280"
            class="page10-user"
          />
          <img
            src="{% static '/public/https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/3ab11eef-8d0c-4c2d-a641-54f4e8cb5f3b?org_if_sml=11807' %}"
            alt="Search3280"
            class="page10-search"
          />
          <img
            src="{% static 'public/playground_assets/calendar3280-8ngg.svg' %}"
            alt="Calendar3280"
            class="page10-calendar"
          />
          <img
            src="{% static 'public/playground_assets/image43280-rd1.svg' %}"
            alt="image43280"
            class="page10-image4"
          />
          <span class="page10-text30"><span>03/28</span></span>
          <span class="page10-text32"><span>999</span></span>
          <div class="page10-group1">
            <span class="page10-text34"><span>10 ×</span></span>
            <img
              src="{% static 'public/playground_assets/image53214-orkf.svg' %}"
              alt="image53214"
              class="page10-image5"
            />
          </div>
          <div class="page10-group2">
            <span class="page10-text36"><span>10 ×</span></span>
            <img
              src="{% static 'public/playground_assets/image53214-uwoh.svg' %}"
              alt="image53214"
              class="page10-image51"
            />
          </div>
          <div class="page10-group3">
            <span class="page10-text38"><span>10 ×</span></span>
            <img
              src="{% static 'public/playground_assets/image53214-o7ge.svg' %}"
              alt="image53214"
              class="page10-image52"
            />
          </div>
          <div class="page10-group4">
            <span class="page10-text40"><span>10 ×</span></span>
            <img
              src="{% static 'public/playground_assets/image53214-j94n.svg' %}"
              alt="image53214"
              class="page10-image53"
            />
          </div>
          <div class="page10-group5">
            <span class="page10-text42"><span>10 ×</span></span>
            <img
              src="{% static 'public/playground_assets/image53214-pvqe.svg' %}"
              alt="image53214"
              class="page10-image54"
            />
          </div>
          <div class="page10-group6">
            <span class="page10-text44"><span>10 ×</span></span>
            <img
              src="{% static 'public/playground_assets/image53214-s3x.svg' %}"
              alt="image53214"
              class="page10-image55"
            />
          </div>
          <div class="page10-group7">
            <span class="page10-text46"><span>10 ×</span></span>
            <img
              src="{% static 'public/playground_assets/image53214-f0ad.svg' %}"
              alt="image53214"
              class="page10-image56"
            />
          </div>
          <span class="page10-text48"><span>999</span></span>
        </div>
      </div>
    </div>
  </body>
</html>
