{% load static %}
<!DOCTYPE html>
<html lang="english">
  <head>
    <title>紀錄</title>
    <meta property="og:title" content="Page9 - exported project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />


    <script>
      function redirectToPage1() {
        window.location.href = 'http://127.0.0.1:8000/首頁';
      }
    </script>

    <script>
      function redirectToPage2() {
        window.location.href = 'http://127.0.0.1:8000/遊戲選擇畫面';
      }
    </script>

    <script>
      function redirectToPage3() {
        window.location.href = 'http://127.0.0.1:8000/簽到';
      }
    </script>

    <script>
      function redirectToPage4() {
        window.location.href = 'http://127.0.0.1:8000/商店';
      }
    </script>

    <script>
      function redirectToPage5() {
        window.location.href = 'http://127.0.0.1:8000/衣櫥';
      }
    </script>

    <script>
      function redirectToPage6() {
        window.location.href = 'http://127.0.0.1:8000/紀錄';
      }
    </script>

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  </head>
  <body>
    <div>
      <link href="{% static 'css/紀錄.css' %}" rel="stylesheet" />

      <div class="page9-container">
        <div class="page9-frame">
          <img
            src="{% static 'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/498f7e97-468a-464e-8aea-d396915b10c5?org_if_sml=12107' %}"
            alt="Rectangle158"
            class="page9-rectangle1"
          />
          <span class="page9-text"><span>上肢</span></span>
          <img
            src="{% static 'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/f6ff143f-fa2f-491a-a968-5cdd861b5f50?org_if_sml=12112' %}"
            alt="Rectangle259"
            class="page9-rectangle2"
          />
          <span class="page9-text02"><span>下肢</span></span>
          <img
            src="{% static 'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/c93576ab-861f-40f2-adc7-78e8312b5542?org_if_sml=12107' %}"
            alt="Rectangle3510"
            class="page9-rectangle3"
          />
          <span class="page9-text04"><span>四肢</span></span>
          <img
            src="{% static 'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/2f12413c-bce0-432c-8c88-35ce395ca4f5?org_if_sml=12112' %}"
            alt="Rectangle4511"
            class="page9-rectangle4"
          />
          <span class="page9-text06"><span>手部</span></span>
          <img
            src="{% static 'public/playground_assets/line3555-2vsr.svg' %}"
            alt="Line3555"
            class="page9-line3"
          />
          <img
            src="{% static 'public/playground_assets/line4556-7jja.svg' %}"
            alt="Line4556"
            class="page9-line4"
          />
          <img
            src="{% static 'public/playground_assets/line5557-reh.svg' %}"
            alt="Line5557"
            class="page9-line5"
          />
          <img
            src="{% static 'public/playground_assets/line6558-p3xi.svg' %}"
            alt="Line6558"
            class="page9-line6"
          />
          <span class="page9-text08"><span>平均動作正確率：95%</span></span>
          <span class="page9-text10"><span>平均動作正確率：31%</span></span>
          <span class="page9-text12"><span>平均動作正確率：無數據</span></span>
          <span class="page9-text14"><span>正確率高建議提高難度</span></span>
          <span class="page9-text16">
            <span>建議降低難度直到正確率更高</span>
          </span>
          <span class="page9-text18"><span>無數據</span></span>
          <img
            src="{% static 'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/66b62f7f-5655-46b1-a63c-8d9ec117bb82?org_if_sml=12654' %}"
            alt="User3281"
            class="page9-user"
          />
          <img
            src="{% static 'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/aa7856e6-4649-48e2-a86d-b6e6bed5f262?org_if_sml=11807' %}"
            alt="Search3281"
            class="page9-search"
          />
          <img
            src="{% static 'public/playground_assets/calendar3281-fr6p.svg' %}"
            alt="Calendar3281"
            class="page9-calendar"
          />
          <img
            src="{% static 'public/playground_assets/image43281-k2jc.svg' %}"
            alt="image43281"
            class="page9-image4"
          />
          <span class="page9-text20"><span>03/28</span></span>
          <span class="page9-text22"><span>999</span></span>
          <img
            src="{% static 'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/708837e8-d0ee-4546-9a65-29566139a5a1?org_if_sml=11432' %}"
            alt="Rectangle313287"
            class="page9-rectangle31"
          />
          <div class="page9-component">
            <div class="page9-group9">
              <img
                onclick="redirectToPage1()"
                src="{% static 'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/51609a58-d1bf-473f-9313-753276e02d6a?org_if_sml=12259' %}"
                alt="image6I328"
                class="page9-image6"
              />
              <span class="page9-text24"><span>首頁</span></span>
            </div>
          </div>
          <div class="page9-component1">
            <div class="page9-group91">
              <img
                onclick="redirectToPage2()"
                src="{% static 'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/4586e63b-c9bd-404a-95d6-257e693dfea8?org_if_sml=13269' %}"
                alt="image6I328"
                class="page9-image61"
              />
              <span class="page9-text26"><span>遊戲</span></span>
            </div>
          </div>
          <div class="page9-component2">
            <div class="page9-group92">
              <img
                onclick="redirectToPage3()"
                src="{% static 'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/a3ec5b0e-960a-4800-b16c-0ce630d68be8?org_if_sml=11702' %}"
                alt="image6I328"
                class="page9-image62"
              />
              <span class="page9-text28"><span>簽到</span></span>
            </div>
          </div>
          <div class="page9-component3">
            <div class="page9-group93">
              <img
                onclick="redirectToPage4()"
                src="{% static 'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/5291af41-3e50-4d75-bbde-1b3f6a201b67?org_if_sml=12402' %}"
                alt="image6I328"
                class="page9-image63"
              />
              <span class="page9-text30"><span>商店</span></span>
            </div>
          </div>
          <div class="page9-component4">
            <div class="page9-group94">
              <img
                onclick="redirectToPage5()"
                src="{% static 'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/519ed6a6-3a01-4cb4-9a4a-ed75f8998967?org_if_sml=11603' %}"
                alt="image6I328"
                class="page9-image64"
              />
              <span class="page9-text32"><span>衣櫥</span></span>
            </div>
          </div>
          <div class="page9-component5">
            <div class="page9-group10">
              <img
                onclick="redirectToPage6()"
                src="{% static 'https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/88f0e7e3-e334-4a5b-aa1c-711fb5deb7ed/131f9b29-f2a5-4be5-8799-bafdc89957aa?org_if_sml=11501' %}"
                alt="image6I328"
                class="page9-image65"
              />
              <span class="page9-text34"><span>紀錄</span></span>
            </div>
          </div>
          <span class="page9-text36"><span>平均動作正確率：56%</span></span>
          <span class="page9-text38">
            <span>建議維持難度或降低直到正確率更高</span>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
